<div class="wrapper wrapper_padding clearfix">
	<div class="sidebar col-4 sidebar-margin">
		<%= render 'layouts/contact' %>
			<br />
			<br />
			<%= render 'layouts/card' %>
	</div>
	<div class="col-3 body-text">

	<h4>Bookmarks</h4>	
		<table>
			<thead>
				<tr>
					<th>id</th> 
					<th>category</th> 
					<th>title</th>
				</tr>
			</thead>
			<tbody>
				<% @bookmarks.each do |bm| %>
					<% if bm.url != nil %>
						<tr>
							<td><%= bm.id %></td>
							<td><%= bm.category %></td>
							<td><%= link_to bm.title, bm.url %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
