<div class="wrapper wrapper_padding clearfix">
	<div class="sidebar col-4 sidebar-margin">
		<%= render 'layouts/contact' %>
			<br />
			<br />
			<%= render 'layouts/card' %>
	</div>
	<div class="col-3 body-text">

	<h4 id='top'>Bookmarks</h4>	
	<% @categories.each do |category| %>
		<%= link_to category.name, :anchor => category.name %> |
		<% end %>
		
		<% @categories.sort.each do |category| %>
			<p><a href='#top'>^TOP</p>
			<hr />

			<h3 id=<%= category.name %>><%= category.name %></h3>
			<% category.bookmarks.each do |bm| %>
				<ul>
					<li><%= link_to bm.title, bm.url %></li>
				</ul>
			<% end %>
		<% end %>
		</div>
	</div>