  <div class="wrapper wrapper_padding clearfix">
    <div class="col-4">
      <h2>Contact</h2>
        <%= form_for user do |f| %>
        <p>
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name %>
        </p>
        <p>
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name %>
        </p>
        <p>
        <%= f.label :username %><br>
        <%= f.text_field :username %>
        </p>
        <p>
        <%= f.label :password %><br>
        <%= f.text_field :password %>
        </p> 
        <p>
        <%= f.label :email %><br>
        <%= f.text_field :email %>
        </p>
        <p>
        <%= f.label :phone %><br>
        <%= f.text_field :phone %>
        </p>
    </div>
    <div class="col-4">
      <h2>Company</h2>
        <p>
        <%= f.label :company %><br>
        <%= f.text_field :company %>
        </p>
        <p>
        <%= f.label :about %><br>
        <%= f.text_field :about %>
        </p>
        <p>
        <%= f.label :website %><br>
        <%= f.text_field :website %>
        </p>
    </div>
    <div class="col-4">
      <h2>Address</h2>
        <p>
        <%= f.label :address %><br>
        <%= f.text_field :address1 %><br>
        <%= f.text_field :address2 %>
        </p>
        <p>
        City<br>
        <%= f.text_field :city, size: 15 %>
        </p>
        <p>
        State, Zip<br>
        <%= f.text_field :state, size: 4 %>
        <%= f.text_field :zip, size: 10 %>
        </p>
      <%= f.submit "Sign up" %>
      <% end %>
    </div>
    <div class="col-4"> 
    </div>
  </div>



