  <div class="wrapper wrapper_padding clearfix">
    <div class="col-4">
      <h2>User info</h2>
    
        <p>
        username: <%= @user.username %>
        </p>
        <p>
        password: <%= @user.password %>
        </p> 
        <p>
        email: <%= @user.email %>
        </p>
    </div>
    <div class="col-2"> 
      <h4>Current Projects</h4>
      <% if @user.projects.present? %>
        <% @user.projects.each do |project| %>
          <%= link_to project.name, project_path(project) %>
        <% end %>
        <% else %>
            <p>no current projects for this user</p>
        <% end %>
        <hr>
        <hr>
        <hr>
      <%= link_to "submit new project", new_project_path %>

    </div>
  </div>

