<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar col-4 sidebar-margin">
    <%= render partial: 'projects/sidebar', locals: { projects: @projects } %>
      <%= render partial: 'layouts/contact' %>
  </div>
  <div class="col-3">
    <h2>
      <%= @project.name %>
    </h2>
    <h5>
      business_model:
      <%= @project.business_model %>
    </h5>
    <h5>
      problem:
      <%= @project.problem %>
    </h5>
    <h5>
      wishlist:
      <%= @project.wishlist %>
    </h5>
  </div>
</div>