<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar">
    <div class="col-1">   
      <%= form_for @post do |f| %>
      <p>
        <%= f.label :date %><br>
        <%= f.date_field :date %>
      </p>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.label :repo %><br>
        <%= f.text_field :repo %>
      </p>
      <p>
        <%= f.label :video_url %><br>
        <%= f.text_field :video_url %>
      </p>
      <p>
        <%= f.label :summary %><br>
        <%= f.text_field :summary %>
      </p>
      <p>
        <%= f.label :content_md %><br>
        <%= f.text_field :content_md %>
      </p>
    <%= f.submit %>
    <% end %>   
    </div>
  </div>
</div>
