<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar user_signed_in">
    <div class="col-1 user_signed_in">   
      <%= form_for @post do |f| %>
      <p>
        <%= f.label :date %><br>
        <%= f.date_field :date %>
      </p>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </p>
      <p>
        <%= f.label :repo %><br>
        <%= f.text_field :repo %>
      </p>
  <!--     <p>
        <%#= f.label :refs %><br>
        <%#= f.collection_select :ref_ids, Ref.all, :id, :name %>
      </p> -->
    </div>    
  </div>
  <div class="col-1 user_signed_in">    
    <p> 
      <%= f.label :summary %><br>
      <%= f.text_area :summary, cols: 100, rows: 10 %>
    </p>
    <%= f.submit %>
    <% end %>
  </div>
</div>