
<%= link_to "all", posts_path %> |
<%= link_to "new", new_post_path %> |
<%= link_to "del", @post, confirm: 'are you sure?', method: :delete %>

<%= form_for @post do |f| %>
<% if @post.errors.any? %>
  <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving: </h2>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
  <p>
    <%= f.label :repo %><br>
    <%= f.text_field :repo %>
  </p>
  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :outline %><br>
    <%= f.text_area :outline %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </p>
  <p>
    <%= f.label :tweet %><br>
    <%= f.text_area :tweet %>
  </p>
  <p>
    <%= f.label :refs %><br>
    <%= f.text_area :refs %>
  </p>
  <p>
    <%#= link_to "Add link to snippet, image, video or github gist", new_section_path %>
  </p>
  <%= f.submit %>
<% end %>