<!-- facebook stuff -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=979091388857858";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- facebook stuff -->
  <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

<!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar homepage_content">
    <%= render partial: 'posts/sidebar', locals: { posts: @posts } %>
  </div>
  <div class="col-0 homepage_content">
   <%= link_to "edit current post", edit_post_path(@post) %>

    <p><%= link_to @post.title, @post.repo %><p class="date"><%= @post.created_at.strftime('%B %d %Y') %></p>
   
    <p>outline</p>
    <%= @post.outline %><br>
    
    <%= markdown @post.body %>

    <p>summary:</p>
    <%= @post.summary %>
    <hr>
    <%= render partial: 'posts/social', locals: { post: @post } %>
     
    <hr>
    <%= render partial: 'posts/disqus' %>
  </div>
</div>