<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar col-6">
    <%= render partial: 'posts/sidebar_index', locals: { posts: @posts } %>
  </div>
  <div class="col-3">

    <h2>
      <%= @post.title %>
    </h2>
    <h5>
      date:
      <%= @post.date %>
    </h5>
    <h5>
      summary:
      <%= @post.summary %>
    </h5>

    <div>
      <% if @post.repo != "" %>
        <h5>
          github:
          <%= link_to @post.repo, @post.repo %>
        </h5>
        <% end %>
    </div>

    <div>
      <% if @post.video_url != "" %>
        <hr>
        <iframe width="230" height="150" src="<%= @post.video_url %>" frameborder="0" allowfullscreen></iframe>
        <hr>
        <% end %>
    </div>

    <!-- main blog post document in Markdown format -->
    <div>
      <%= render_md @post.md_file if @post.md_file %>
    </div>

    <!-- main blog post footer  -->
  </div>
</div>