 
<%= link_to "all", posts_path %> |
<%= link_to "new", new_post_path %> |
<%= link_to "edit", edit_post_path(@post) %>
<%= link_to "del", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>

<div id=" post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date><%= @post.created_at.strftime('%A, %B %d') %>"></p>
    <h3><%= @post.title %></h3>
    <hr>
  </header>
   <div class="content">
 
  <%= @post.body %> 
 
<%= render partial: 'posts/disqus' %>
</div>