<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar col-4 sidebar-blog">
    <%= render 'layouts/contact' %>
      <br />
      <br />
      <br />
      <%= render partial: 'posts/sidebar', locals: { posts: @posts } %>
  </div>
  <div class="col-3">
    <h3>
      <%= @post.title %>
		</h3>
		<hr size="30px">
    <h5>date: <%= @post.date %></h5>

    <% if @post.site_url != "" %>
      <h5>
        demo-site:
        <%= link_to @post.site_url, @post.site_url %>
      </h5>
      <% end %>

		<h5>
			summary:
			<%= @post.summary %>
		</h5>
		<div>
			<% if @post.repo != "" %>
				<h5>
					github:
					<%= link_to @post.repo, @post.repo %>
				</h5>
				<% end %>
		</div>

		<div>
			<% if @post.video_url != "" %>
				<hr>
				<iframe width="230" height="150" src="<%= @post.video_url %>" frameborder="0" allowfullscreen></iframe>
				<hr>
				<% end %>
		</div>

		<div class="col-lg-6 body-text">
			<% if @post.content_html != 'blank_html'%>
				<%= render file: Rails.public_path.join('posts',"#{@post.content_html}") %>	<!-- blog post body in html format -->
			<% else %>
				<%= render_md @post.content_md if @post.content_md %>	<!-- blog post body in Markdown format -->
			<% end %>
		</div>
  </div>
</div>