<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar col-4 sidebar-margin">
    <%= render 'layouts/contact' %>
      <br />
      <br />
      <br />
      <%= render partial: 'posts/sidebar', locals: { posts: @posts } %>
  </div>
  <div class="col-3">
    <h2>
      <%= @post.title %>
    </h2>
    <h5>
      date:
      <%= @post.date %>
    </h5>

    <% if @post.site_url != "" %>
      <h5>
        demo-site:
        <%= link_to @post.site_url, @post.site_url %>
      </h5>
      <% end %>

        <h5>
          summary:
          <%= @post.summary %>
        </h5>

        <div>
          <% if @post.repo != "" %>
            <h5>
              github:
              <%= link_to @post.repo, @post.repo %>
            </h5>
            <% end %>
        </div>

        <div>
          <% if @post.video_url != "" %>
            <hr>
            <iframe width="230" height="150" src="<%= @post.video_url %>" frameborder="0" allowfullscreen></iframe>
            <hr>
            <% end %>
        </div>

        <!-- main blog post document in Markdown format -->
        <div class="col-lg-6 body-text">
          <%= render_md @post.md_file if @post.md_file %>
        </div>

        <!-- main blog post footer  -->
  </div>
</div>