<%= render partial: 'posts/facebook' %>

<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar col-4">
    <%= render partial: 'posts/show_sidebar', locals: { post: @post } %>
  </div>
  <div class="col-3">
    <%= render_md @post.md_file if @post.md_file %></p><br>
    <hr>
    <%= render partial: 'posts/social', locals: { post: @post } %>
    <hr>
    <%= render partial: 'posts/disqus' %>
  </div>
</div>