<%= render partial: 'posts/facebook' %>
  <div class="wrapper wrapper_padding clearfix">
    <div class="sidebar col-4">
      <%= render partial: 'posts/index_sidebar', locals: { posts: @posts } %>
    </div>
    <div class="col-3">

      <h2>
        <%= @post.title %>
      </h2>
      <h5>
        date:
        <%= @post.date %>
      </h5>
      <h5>
        summary:
        <%= @post.summary %>
      </h5>
      <h5>
        github:
        <%= link_to "repo link", @post.repo %>
      </h5>
      <hr>

      <%= render_md @post.md_file if @post.md_file %>
        </p>

        <hr>
        <iframe width="230" height="150" src="<%= @post.video_url %>" frameborder="0" allowfullscreen></iframe>
        <hr>
        <%= render partial: 'posts/social', locals: { post: @post } %>
          <hr>
          <%= render partial: 'posts/disqus' %>
    </div>
  </div>
  </div>
  </div>