 
<%= link_to "all", posts_path %> |
<%= link_to "new", new_post_path %> |
<%= link_to "edit", edit_post_path(@post) %>
<%= link_to "del", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>


<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date><%= @post.created_at.strftime('%A, %B %d') %>"></p>
    <h3><%= @post.title %></h3>
    <hr>
  </header>
  <div id="content">
    <h4>Title:</h4>
    <%= @post.title %><br>

    <h4>Repo:</h4>  
    <%= @post.repo %><br>

    <h4>Outline:</h4>
    <%= @post.outline %><br>

    <h4>Body:</h4>
    <%= @post.body %>
    <%#= @post.markdown(@post.body) %><br>

    <h4>Summary:</h4>
    <%= @post.summary %>
  </div>
</div>

<%= render partial: 'posts/social', locals: { post: @post } %>

<div id="share_box">
  <p>Share <%= @post.title %></p>
  <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @post.title %> by @smithWEBtek = &amp;url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
  <i class="fa fa-twitter"></i>
</a>

<a href="#"><i class="fa fa-facebook"></i>
<a href="#"><i class="fa fa-google-plus"></i>
</div>


<!-- post sections -->
  <!-- @post.sections.each do |section| etc... -->
  <!-- code, formatted text, plain text, video or image -->
  <!-- section consumes up to 80% of visibile screen -->
  <!-- then make another section, via the 'edit post' page, 'add section' button/link -->

<!-- summary -->
<!-- <h4><%#= @post.summary %></h4>
