<h1>Refs</h1> 
 
<table>
  <thead>
    <tr>
			<th><%= sort_link "format" %></th>
      <th><%= sort_link "title" %></th>
      <th><%= sort_link "category" %></th>
      <th><%= sort_link "description" %></th>
			<th><%= sort_link "url" %></th>
    </tr>
  </thead>
  <tbody>
    <% @refs.each do |ref| %>
      <tr>
				<td><%= ref.format %></td>
				<% if ref.format === 'pdf' %>
					<td><%= link_to ref.title, ref_path(ref) %></td>
				<% else %>
					<td><%= link_to ref.title, ref.url %></td>
				<% end %>
        <td><%= ref.category %></td>
        <td><%= ref.description %></td>
        <td><%= ref.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>