<div class="wrapper wrapper_padding clearfix">
<div class="sidebar"></div>
  <div class="col-0">
    <h4>New Reference</h4>
    <%= form_for @ref do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, size: 30 %><br>
    </p>
    <p>
      <%= f.label :format %><br>
      <%= f.text_field :format, size: 30 %><br>
    </p>
    <p>
      <%= f.label :url %><br>
      <%= f.text_field :url, size: 30 %><br>
    </p>
    <p>
      <%= f.label :content %><br>
      <%= f.text_area :content, cols: 30, rows: 5 %><br>
    </p>
    <p>
      <%= f.label :posts %><br>
      <%= f.collection_select :post_ids, Post.all, :id, :title %>
    </p>
      <%= f.submit %>
    <% end %>
    </p>
  </div>
</div>
