<h4>New Reference</h4>
<%= form_for @ref do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
</p>
<p>
  <%= f.label :format %>
  <%= f.text_field :format %><br>
</p>
<p>
  <%= f.label :url %>
  <%= f.text_field :url %><br>
</p>
<p>
  <%= f.label :content %>
  <%= f.text_area :content %><br>
</p>
<p>
  <%= f.label :refs %>
  <%= f.collection_select :id, Ref.all, :id, :name %>
</p>
  <%= f.submit %>
<% end %>