<div class="wrapper wrapper_padding clearfix">
  <div class="col-0 homepage_content">
    <p>
      <strong><%= link_to "edit", edit_ref_path(@ref) %> |
      <strong><%= link_to "index", refs_path %> |

      <strong>name:</strong> <%= @ref.name %><br>
      <strong>url:</strong> <%= link_to @ref.url, @ref.url , :target => "_blank" %><br>
      <strong>format:</strong> <%= @ref.format %><br>
      <strong>content:</strong> <%= @ref.content %><br>
      <strong>topic:</strong> <%= @ref.topic.name %><br>
    </p>
  </div>
    <div class="col-1 homepage_content">
    <% if @ref.format == 'video' %>
      <iframe width="190" height="155" src="<%= "#{@ref.url}" %>" frameborder="0" allowfullscreen></iframe><br>
    <% else %> 
      <%= @ref.content %>
    <% end %>
  </div>
</div>
