<header id="main_nav" class="clearfix">
  <div><a href="<%= root_path %>">smithWEBtek</a>
    <div>boring sites brilliant data
      <nav>
        <%= link_to "about", about_path %>
        <%= link_to "blog", posts_path %>
        <%= link_to "projects", projects_path %>
        <%= link_to "wiki", refs_path %>
        <%= link_to "contact", contact_path %>
      </nav>
    </div>
  </div>
</header>
