<header id="main_nav" class="clearfix col-1">
  <div>
    <h3>
      <a href="<%= root_path %>">smithWEBtek</a>
    </h3>
  </div>
  <div id="flash-messages" class="flash_style">
    <div class="notice">
      <%= notice %>
    </div>
    <div class="alert">
      <%= alert %>
    </div>
  </div>
  <nav>
    <%= link_to "about", about_path %>
      <%= link_to "blog", posts_path %>
        <%= link_to "projects", projects_path %>
          <%= link_to "wiki", refs_path %> |
            <% if user_signed_in? %>
              Logged in as
              <strong>
                <%= current_user.email %>
              </strong>.
              <%= link_to 'edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                <%= link_to "logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                  <% else %>
                    <%= link_to "sign up", new_user_registration_path, :class => 'navbar-link'  %>
                      <%= link_to "login", new_user_session_path, :class => 'navbar-link'  %>
                        <% end %>
  </nav>
  </div>
  </div>
</header>