<header id="main_nav" class="clearfix">
  <div><a href="<%= root_path %>">smithWEBtek</a>
    <div>
      <span class="text_hover"> boring</span>
      <span class="text_hover"> sites</span>
      <span class="text_hover"> brilliant</span>
      <span class="text_hover"> data</span>
    </div>
      <nav>
        <%= link_to "about", about_path %>
        <%= link_to "blog", posts_path %>
        <%= link_to "projects", projects_path %>
        <%= link_to "wiki", refs_path %>
        <%= link_to "contact", contact_path %>
      </nav>
    </div>
  </div>
</header>
