<header id="main_nav" class="clearfix">
  <a href="<%= root_path %>" class="name">smithWEBtek</a>
  <nav>
    <%= link_to "about", about_path %>
    <%= link_to "blog", posts_path %>
    <%= link_to "projects", projects_path %>
    <%= link_to "wiki", wiki_path %>
    <%= link_to "tools", tools_path %>
    <%= link_to "contact", contact_path %>
  </nav>
</header>