<header id="main_nav" class="clearfix col-1">
  <div>
    <h3>
      <a href="<%= root_path %>">smithWEBtek</a>
    </h3>
  </div>
  <div id="flash-messages" class="flash_style">
    <div class="notice">
      <%= notice %>
    </div>
    <div class="alert">
      <%= alert %>
    </div>
	</div>
	<div>
		<nav>
			<%= link_to "about", about_path %>
			|
			<%= link_to "blog", post_path(Post.last.id) %>
			|
			<%= link_to "projects", project_path(Project.last.id) %>
			|
			<%= link_to "wiki", refs_path %>
			|
			<%= link_to "admin", new_admin_user_session_path %>
			|
			<% if !current_user %>
			<%= link_to "sign up", new_user_registration_path %>
			|
			<%= link_to "login",  new_user_session_path %><br>
			<% end %>

			<% if current_user && user_signed_in? %>
			<%= link_to "sign out", destroy_user_session_path %>
			|
			<%= link_to "User Account", user_path(current_user) %>

			<div class="flash_style">
				<%= current_user.username.upcase %>, logged in as:
				<%= current_user.role.upcase %>
				user.
				<% end %>
			</div>
		</nav>
  </div>
</header>