<nav>
  <%= link_to "about", about_path %><br><br>
  <%= link_to "blog", posts_path %><br><br>
  <%= link_to "projects", projects_path %><br><br>
  <%= link_to "wiki", refs_path %><br><br>
  <%= link_to "contact", contact_path %>
</nav>
